html {
	height:100%;

}

body {
	width:100%;

	margin-top:0px;
	margin-left:0px;
	margin-right:0px;

	background-color:#fff;
	
	font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", Arial;
	font-weight:400;

	border:0px solid black;
}

h1 {
	margin:0px;
	padding: 0px;
	margin-bottom: 4px;

	font-size: 50px;
	color: #333;
	font-weight: 700;
}

h2 {
	margin:0px;
	padding: 0px;
	margin-bottom: 4px;

	font-size: 40px;
	color: #333;
	font-weight: 700;
}

p {
	margin-top:0px;
	margin-bottom:0px;
}

a {
    color: #198fcf;
}

::selection {
  background: #FFDDCD; /* WebKit/Blink Browsers FFE4CD F9D5B7 */
}
::-moz-selection {
  background: #FFDDCD; /* Gecko Browsers */
}

.blur {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	filter: blur(3px);
}

.grayscale {
	-webkit-filter: grayscale(0.9);
	-moz-filter: grayscale(0.9);
	filter: grayscale(0.9);
}


.std-text {
    color: #444;
    font-weight: 400;
    font-size: 16px;
}

.med-text {
    font-size: 13px;
}

.small-text {
    font-size: 11px;
}

.big-text {
    font-size: 18px;
}

.subtle {
    color: #888;
}



.input-label {
    font-size: 11px;
    letter-spacing: 1px;
    color: #999;
    margin-bottom: 1px;
    text-transform: uppercase;
    font-weight: 400;
}

.input-text {
    margin-bottom: 30px;
    border-radius: 0px;
    border:0px solid #ccc;
    border-bottom: 2px solid #ddd;
    font-size: 16px;
    font-family: "Lato", Arial;
    outline: none;
    padding: 9px 0px 6px;
    width: 100%;
    
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    appearance:none;
}

.input-text:focus {
    border-bottom: 2px solid #E74C3C;
}

.input-submit {
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    appearance:none;
    
    color: white;
    border:0px solid white;
    background: #E74C3C;
    font-family: "Lato", Arial;
    font-weight: 700;
    font-size: 11px;
    border-radius: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px 25px;
    
    cursor: pointer;
}

.input-submit:hover {
    box-shadow: 0px 2px 6px #aaa;
}


.sidebar {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 450px;
	background: #fff;
	box-shadow: 0px 0px 50px -10px #666;
	z-index: 200;
	height: 100%;
}

.glass {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 150;

	transition: background-color 0.5s ease;

	background-color: #888;
	background-image: url("https://www.transparenttextures.com/patterns/tiny-grid.png");

	background-color: #777;
	background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");


	background-color: #707070;
	background-image: url("https://www.transparenttextures.com/patterns/graphy.png");

}

.clear-glass {
	background-color: transparent;
	background-image: none;
}

.map-frame {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
}


.section {
	padding: 0px 60px 20px;

	position: relative;
	top: 50%;
	transform: translateY(-55%);
}

.form-area {
	padding: 35px 0px 20px;
}

.load-icon {
	width: 60px;
	float: left;
	margin-top: -19px;
}

.hide {
	display: none;
}

.hide-spot {
	visibility: hidden;
}

.poi-box {
	margin-top: -10px;
	margin-bottom: 20px;
	display: none;
}

.poi-box-button {
	cursor: pointer;
	padding: 20px 0px;
	background: #f4f4f1;
	text-align: center;
	color: #555;
	border-radius: 3px;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	border:1px solid #eee;
	background-image: url("../images/placeholder2.svg");
	background-repeat: no-repeat;
	background-position: 18px center;
	background-size: 25px;
}

.poi-box-button:hover {
	border:1px solid #ddd;
	box-shadow: 0px 2px 6px #eee;
}

.poi-holder {
	width: 60%;
	width: -webkit-calc(100% - 450px);
	width: -moz-calc(100% - 450px);
	width: calc(100% - 450px);
	height: 100%;
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 300;
	overflow-y:scroll;
	text-align: center;
	display: none;
	opacity: 0;
}

.poi-container {
	background: #fff;
	margin-bottom: 7%;
	width: 65%;
	margin-top: 7%;
	overflow-y:scroll;
	border-radius: 3px;
	display: inline-block;
	text-align: left;

	box-shadow: 0px 8px 25px -4px #888;
}

.poi-header {
	padding: 32px 0px 40px;
	margin: 0px 40px;
	border-bottom: 1px  solid #eee;
}

.poi-type {
	display: block;
	margin-top: 13px;

}

.poi-type a {
	padding: 8px 12px;
	font-size: 12px;
	font-weight: 400;
	background: #f4f4f1;
	border-radius: 3px;
	cursor: pointer;
	margin-right: 5px;
	color: #333;
}

.selected-poi {
	background: #3293d4 !important;
	color: white !important;
}

.poi-listing {
	padding: 0px 40px;
}

.poi-item {
	padding: 20px 0px;
	border-bottom: 1px dotted #ddd;
	min-height: 70px;
}

.poi-img {
	float: left;
	height: 70px;
	width: 70px;
	border-radius: 2px;
}

.poi-item-text {
	margin-left: 100px;
}

.poi-name {
	font-size: 17px;
	margin-top: 13px;
	font-weight: 700;
	color: #444;
}

.poi-rating {
	font-size: 13px;
	color: #888;
	margin-top: 6px;
}

.poi-tags {
	margin-top:20px;
}

.poi-add {
	margin-top: 4px;
	float: right;
	
    color: white;
    border:0px solid white;
    background: #E74C3C;
    font-family: "Lato", Arial;
    font-weight: 700;
    font-size: 11px;
    border-radius: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 20px;
    
    cursor: pointer;
}

.poi-add:hover {
    box-shadow: 0px 2px 6px #aaa;
}

.via-box {
	padding-bottom: 20px;
	display: none;
}

.via-name {
	margin-top:9px;
}

.input-cover {
	display: none;
	position: absolute;
    height: 50px;
    margin-top: -15px;
    width: 330px;
}

.redo-button {
	background: #666;
}

.fin-button {
	display: none;
	margin-top: -10px;
	margin-right: 15px;
}

.link-preview {
	display: none;
    padding: 20px;
    background: #f4f4f4;
    border: 1px solid #eee;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;

    background-image: url("../images/map.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 20px center;
}

.logo {
	position: absolute;
	bottom: 30px;
	font-weight: 700;
	padding-top: 30px;
	width: 330px;
	border-top: 1px dotted #ddd;
	font-size: 22px;
	color: #de594c;
	left: 60px;
}

.signup-section {
	display: none;
}
.signin-section {
	display: none;
}


.account-opts {
	float: right;
	margin-top: -4px;
}

.account-button {
	border-radius: 3px;
	cursor: pointer;
	color: #555;
	text-decoration: underline;
	font-size: 14px;
	font-weight: 400;
	margin-left: 10px;
}

.send-button {
	display: none;
	margin-top: -10px;
    margin-right: 15px;

}
